<!-- maze.launch: launch stage with a maze_solver node -->

<launch>
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find robotcraft_maze)/world/robotcraft_maze.world" />
    <!-- <node pkg="robotcraft_maze" type="maze_wallFollower" name="maze_wallFollower" output="screen" /> -->
    <!-- <node pkg="robotcraft_maze" type="maze_BASICsolver" name="maze_BASICsolver" output="screen"/> -->
    <!-- <node pkg="robotcraft_maze" type="maze_PROsolver" name="maze_PROsolver" /> -->
    <node pkg="robotcraft_maze" type="maze_noOdom" name="maze_noOdom" output="screen" />
</launch>  